{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    INDEX
{% endblock %}

{% block body_block %}
    {% if categories_views or categories_likes %}

        <h1>Most viewed Categories:</h1>
        {% for category in categories_views %}
            <li><a href="{% url 'show_category' category.slug %}">{{ category.name }}</a></li>
        {% endfor %}

        <h1>Most liked Categories</h1>
        {% for category in categories_likes %}
            <li><a href="{% url 'show_category' category.slug %}">{{ category.name }}</a></li>
        {% endfor %}

        <img src="{% static 'images/rango.jpg' %}"/>

    {% endif %}
{% endblock %}

