{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Register  -
{% endblock %}

{% block body_block %}
    {% if registered %}
        Thank you for registration!
        <a href="{% url 'index' %}">Return to home page.</a>
    {% else %}
        Register here:
        <form id="user_form" method="post" action="{% url 'register' %}" enctype="multipart/form-data">
            {% csrf_token %}
            {{ user_form.as_p }}
            {{ profile_form.as_p }}
            <input type="submit" name="submit" value="Register"/>
        </form>
    {% endif %}
{% endblock %}